body{
    background: rgba(228, 228, 228, 0.76);
    width: 95%; 
}

.form-signin{
	max-width: 330px;
	padding: 15px;
	margin: auto;
	
}

.form-signin input[type="email"]{
margin-bottom: 0px;
border-bottom-right-radius: 0;
border-bottom-left-radius:0;
}

.form-signin input [type="password"]{
	margin-bottom: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin .form-sign-heading{
	margin-bottom: 20px;
	margin-top: 20px;
}

.empresa{
    text-align: center;
    font-weight: bold;
}

li{
	top: 20px;
	position:relative;
	text-align: center;
	display:inline-block;
	width: 100%;
	border-right:3px solid rgba(0,0,0, 0.11);
	font-family:Arial;
	font-weight:bold;
	font-size:18px;
}

.contato{
    border: 0 !important;
}

#pesquisa{
    padding-top: 100px;
    margin-left: 36%;
    width:600px;
}
#campo{
    padding-top: 10px;;
    margin-left: 36%;
    width:600px;
    margin-bottom: 50px;
}


.tabelaInicio{
    font-weight:bold;
}
.tabela{
    padding-top: 300px;
}

.oculto{
    display: none;
}

.total{
    margin-left:60%
}

#controle .form-control{
    width: 600px;
    margin-left:25%;
}
.genero{
    margin-left:25%;
}
.genero2{
    margin-left:10px;
}

.relatorio{
    margin-top:200px;
}
#controle .form-label{
    margin-left:25%;
    margin-top:10px;
}

div#botoesGerenciamento{
    margin-top:50px;
    width: 170px;
}
#controle #concluir{
    margin-left:33%;
    margin-top:20px;
    width:400px;
    display:block;
}
#controle #concluir{
    margin-left:33%;
    margin-top:20px;
    width:400px;
    display:block;
}

.table{
    width: 800px;
    margin-left:20%;
    margin-top:100px;
}
#btnAdicao{
    margin-left:20%;
    
}

#pesquisar{
    width: 470px;
    margin-left:34%;
    
}

.unidade{
    display: block;
}
#dadosCurso .form-label{
    margin-left:25%;
    margin-top:10px;
}
#dadosCurso #concluir{
    margin-left:33%;
    margin-top:20px;
    width:400px;
}
#dadosCurso .form-control{
    width: 600px;
    margin-left:25%;
}
.curso{
    display: block;
}
#nomeNovoAluno{
    margin-left: 25%;
}
.aviso{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: #FFFF99;
    text-align: center;
    display: block;
}
#cargo{
    display: block;
}