body{
    background: rgba(228, 228, 228, 0.76);
    width: 95%; 
}

.form-signin{
	max-width: 330px;
	padding: 15px;
	margin: auto;
	
}

.form-signin input[type="email"]{
margin-bottom: 0px;
border-bottom-right-radius: 0;
border-bottom-left-radius:0;
}

.form-signin input [type="password"]{
	margin-bottom: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin .form-sign-heading{
	margin-bottom: 20px;
	margin-top: 20px;
}

.empresa{
	  	text-align: center;
		font-weight: bold;
}

li{
	top: 20px;
	position:relative;
	text-align: center;
	display:inline-block;
	width: 20%;
	border-right:3px solid rgba(0,0,0, 0.11);
	font-family:Arial;
	font-weight:bold;
	font-size:18px;
}

.contato{
	border: 0 !important;
}

#pesquisa{
    padding-top: 200px;;
    margin-left: 36%;
    width:600px;

}
.tabelaInicio{
	font-weight:bold;
}
.tabela{
	padding-top: 300px;
}

.oculto{
    display: none;
}
.Produtos{
    font-weight:bold;
}

.total{
    margin-left:60%
}
#dadosAluno .form-control{
    width: 600px;
    margin-left:25%;
}
.genero{
    margin-left:25%;
}
.genero2{
    margin-left:10px;
}
#dadosFuncionario .form-control{
    width: 600px;
    margin-left:25%;
}
#dadosProduto .form-control{
    width: 600px;
    margin-left:25%;
}
.relatorio{
    margin-top:200px;
}
#dadosAluno .form-label{
    margin-left:25%;
    margin-top:10px;
}
#dadosAluno #concluir{
    margin-left:33%;
    margin-top:20px;
    width:400px;
}
#btnPesquisarAluno{
     margin-left:38%;
    width:360px;
}
#dadosFuncionario .form-label{
    margin-left:25%;
    margin-top:10px;
}
#dadosProduto .form-label{
    margin-left:25%;
    margin-top:10px;
}
#dadosProduto #concluir{
    margin-left:33%;
    margin-top:20px;
    width:400px;
}
#botoesGerenciamento{
    margin-top:50px;
}
#dadosFuncionario #concluir{
    margin-left:33%;
    margin-top:20px;
    width:400px;
    display:block;
}
.table{
    display:block;
    width: 800px;
    margin-left:20%;
    margin-top:100px;
}
#btnAdicao{
    margin-left:20%;
    
}

#pesquisar{
    width: 470px;
    margin-left:34%;
    
}
#dadosUnidade .form-label{
    margin-left:25%;
    margin-top:10px;
}
#dadosUnidade #concluir{
    margin-left:33%;
    margin-top:20px;
    width:400px;
}
#dadosUnidade .form-control{
    width: 600px;
    margin-left:25%;
}
.unidade{
    display: block;
}
#nomeNovoAluno{
    margin-left: 25%;
}
.aviso{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: #FFFF99;
    text-align: center;
    display: block;
}